<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/goals"></ion-back-button>
    </ion-buttons>
    <ion-title>{{goal.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <ion-grid>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-text-center" size-md="6" offset-md="3">
          <h3>{{goal.name}}</h3>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-text-center" size-md="6" offset-md="3">
          <ion-progress-bar
            class="custom-bar"
            color="primary"
            [value]="finishPerc"
          ></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-text-center" size-md="6" offset-md="3">
          <span>
            <b>{{(goal.amountReqd*finishPerc) | currency}}</b>
            out of {{goal.amountReqd | currency}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" class="ion-text-center">
          <ion-button (click)="updateContribution()">Contributions</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <b>Assets</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let asset of assets">
        <ion-col size-md="2" offset-md="3">
          <div>
            {{asset.assetTitle}}
          </div>
        </ion-col>
        <ion-col size-md="2" class="ion-text-right">
          <div>
            {{assetContributionMap.get(asset.id) | currency}}
            ({{assetContributionMap.get(asset.id)/goal.amountReqd | percent}})
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="2" offset-md="3">
          <ion-item>
            <ion-label position="floating">Asset</ion-label>
            <ion-select [(ngModel)]="selectedAsset" name="asset">
              <ion-select-option
                *ngFor="let option of remainingAssets"
                [value]="option.id"
                >{{ option.assetTitle }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="3">
          <ion-item>
            <ion-label position="floating"> Asset Name </ion-label>
            <ion-range ngModel name="percentage" min="0" [max]="100 * (selectedAsset? remainingAssetPercentage: 1)" color="secondary">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">{{(selectedAsset? remainingAssetPercentage: 1) | percent}}</ion-label>
            </ion-range>
          </ion-item>
          
        </ion-col>
        <ion-col size-md="1">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="f.invalid"
            >Add</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-text-center ion-no-padding" size-md="6" offset-md="3">
        Goal Set on Date: {{goal.creationDate.toDateString()}}
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-text-center ion-no-padding" size-md="6" offset-md="3">
        Expected to acheive by Date: ???
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
