<ion-header class="top-header" style="background-color: #fff;">
  <ion-buttons horizontal="start" vertical="top">
    <ion-menu-button class="black" menu="mainMenu"></ion-menu-button>
  </ion-buttons>

  <ion-fab class="pointer black" horizontal="end" vertical="top">
    <ion-icon name="notifications-outline" class="assetsIcon"> </ion-icon>
  </ion-fab>

  <ion-title id="container" vertical="center">
    Home
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="right-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="mob-head">
          <h3>
            Top Portfoli Value
            <span class="amount">$ 50000</span>
          </h3>
        </div>
        </ion-col>
        <ion-col class="ion-graph">
          <app-graph></app-graph>
        </ion-col>
        <ion-col size="12">
          <h3>Top Assets</h3>
        </ion-col>
        
        <ion-col  class="assetsSec">
         <div class="respisive-col" *ngFor="let assetGroup of assetsgroup?.assetGroups; let i = index">
          <div class="assetSet radius4">
            <p><img src="../../../../assets/icon/deposit.svg"></p>
            <p>
              <span>{{assetGroup.assetType}}</span>
              $ {{assetGroup.amount}}
            </p>
          </div>
        </div>
        </ion-col>
     
        <ion-col size="12">
          <h3>Goals</h3>
        </ion-col>

        <ion-col size-md="2" class="assetsSec" *ngFor="let goal of goalPage?.userGoals; let i = index">
          <div class="assetSet radius4">
            <p>
              <span>{{goalPage?.goalCompletionMap.get(goal.id)}} out of {{goal.amountReqd}}</span>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-assets class="hiddenCom" hidden="true" style="display: none;"></app-assets>
<app-goals class="hiddenCom" hidden="true" style="display: none;"></app-goals>
