<ion-header>
  <ion-toolbar>
    <ion-title> Add New asset </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              Asset Type
            </ion-label>
            <ion-select [(ngModel)]="assetType" name="asset-type">
              <ion-select-option
                *ngFor="let option of ASSET_TYPES"
                [value]="AssetType[option]"
                >{{ AssetType[option] }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Name* </ion-label>
            <ion-input
              type="text"
              [ngModel]="asset?.assetTitle"
              name="name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.SavingsAccount ||
          assetType === AssetType.Deposits ||
          assetType === AssetType.Cash ||
          assetType === AssetType.Others
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Amount* </ion-label>
            <ion-input
              type="number"
              [ngModel]="assetValue"
              name="amount"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.SavingsAccount ||
          assetType === AssetType.Deposits
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Account Number/Details </ion-label>
            <ion-input
              type="text"
              [ngModel]="accountNumber"
              name="account-details"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.SavingsAccount ||
          assetType === AssetType.Deposits
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              Interest Rate (Default 4%)
            </ion-label>
            <ion-input
              type="number"
              [ngModel]="interestRate"
              name="interest-rate"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="assetType === AssetType.Deposits">
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Maturity Date </ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              picker-format="YYYY MMM DD"
              [ngModel]="maturityDate"
              [max]="maxMaturityDate"
              name="maturity-date"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="assetType === AssetType.Deposits">
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Deposit Date </ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              picker-format="YYYY MMM DD"
              [ngModel]="depositDate"
              [max]="maxMaturityDate"
              name="deposit-date"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.MutualFunds || assetType === AssetType.Equity
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Units* </ion-label>
            <ion-input
              type="number"
              [ngModel]="units"
              name="units"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.MutualFunds || assetType === AssetType.Equity
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Price (per unit)* </ion-label>
            <ion-input
              type="number"
              [ngModel]="price"
              name="price"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          assetType === AssetType.MutualFunds || assetType === AssetType.Equity
        "
      >
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              Current Value (per unit)
            </ion-label>
            <ion-input
              type="number"
              [ngModel]="currentValue"
              name="current-value"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="f.invalid"
            >Add Asset</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
