<ion-app>
  <ion-menu side="start" menuId="mainMenu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="mainMenu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-avatar class="ion-padding" *ngIf="user">
            <img [src]="user?.photoURL" />
          </ion-avatar>
        </ion-buttons>
        <ion-title>Singular</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" routerLink="/home/tabs/assets">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>My Assets</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
