<ion-app>
  <!-- <ion-menu class="mobile-menu" side="start" menuId="mainMenu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="mainMenu"></ion-menu-button>
        </ion-buttons>        
        <ion-title>Singular</ion-title>
        <ion-buttons slot="primary">
          <ion-avatar class="ion-padding" *ngIf="user">
            <img [src]="user?.photoURL" />
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="mainMenu">
          <ion-item lines="none" routerLink="/home/tabs/dashboard">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" routerLink="/home/tabs/assets">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>My Assets</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" routerLink="/home/tabs/goals">
          <ion-icon name="trophy" slot="start"></ion-icon>
          <ion-label>Goals</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu" *ngIf="mobileApp">
        <ion-item lines="none" (click)="readAccountFromSMS()" button>
          <ion-icon name="mail-open-outline" slot="start"></ion-icon>
          <ion-label>Read My SMS</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="camsFilePicker.click()" button>
          <ion-icon name="document-outline" slot="start"></ion-icon>
          <ion-label>Upload CAMS Statement</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="nsdlFilePicker.click()" button>
          <ion-icon name="document-outline" slot="start"></ion-icon>
          <ion-label>Upload NSDL Statement</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="changeCurrency()" button>
          <ion-icon name="logo-usd" slot="start"></ion-icon>
          <ion-label>Change Currency</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="mainMenu">
        <ion-item lines="none" (click)="exportAssets()" button>
          <ion-icon name="document-outline" slot="start"></ion-icon>
          <ion-label>export</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu> -->

  <div class="webnav web-menu">
    <div class="navhead text-center">
      <h3>Singular</h3>
      <figure>
        <span class="userpic">
          <img [src]="user?.photoURL" /></span>
        <figcaption>{{user?.displayName}}</figcaption>
      </figure>

    </div>
    <div class="navdiv">
      <ul>
        <li><a routerLinkActive="active" routerLink="/home/tabs/dashboard" href="#">
            <ion-icon name="home"></ion-icon> Home
          </a></li>
        <li><a routerLinkActive="active" routerLink="/home/tabs/assets">
            <ion-icon name="card"></ion-icon> Assets
          </a></li>
        <li><a routerLinkActive="active" routerLink="/home/tabs/goals">
            <ion-icon name="trophy"></ion-icon> Goals
          </a></li>
        <li><a (click)="camsFilePicker.click()">
            <ion-icon name="document"></ion-icon> Upload CAMS
          </a></li>
        <li><a (click)="nsdlFilePicker.click()">
            <ion-icon name="document"></ion-icon> Upload NSDL
          </a></li>
        <li><a (click)="exportAssets()">
            <ion-icon name="download-outline"></ion-icon> Export
          </a></li>
        <li><a (click)="onLogout()">
            <ion-icon name="log-out"></ion-icon> Logout
          </a></li>

      </ul>

    </div>

  </div>

  <ion-router-outlet main></ion-router-outlet>
  <app-export-assets></app-export-assets>
  <input type="file" #nsdlFilePicker (change)="onNSDLPicked($event)">
  <input type="file" #camsFilePicker (change)="onCAMSPicked($event)">
  <!-- <input type="file" #filePicker (change)="onCAMSPicked($event)" accept=".pdf"> doesnt work with ionic -->
</ion-app>