<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/cashflows"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><ion-grid>
  <ion-row>
    <ion-col class="ion-text-center" size-md="6" offset-md="3">
      <h3>{{title}}</h3>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding">
    <ion-col  class="ion-no-padding" size-md="6" offset-md="3">
      <h3>$405,000</h3>
      <p>as on 31/05/2020</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding ion-text-center" size-md="2" offset-md="3">
    <div class="custom-head"><b>Item</b></div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-head"><b>Due Date</b></div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-head"><b>Amount</b></div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding ion-text-center" size-md="2" offset-md="3">
    <div class="custom-col">Expense Claim</div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-col">10/3/2020</div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-col">$10,000</div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding ion-text-center" size-md="2" offset-md="3">
    <div class="custom-col">Security Deposit</div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-col">12/5/2020</div>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center" size-md="2">
      <div class="custom-col">$15,000</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <app-add-new></app-add-new>
      </ion-col>
    </ion-row>
  </ion-grid>