<ion-header class="top-header ion-no-border">
  <ion-fab class="pointer" (click)="onClose()" horizontal="end" vertical="top">
    <ion-icon name="close" class="closeIcon"> </ion-icon>
  </ion-fab>
  <ion-title id="container" vertical="center">
    <p>
      Edit {{ goal.name }} <br /><br />
      <b>
        {{
          totalContributionAmount?.toLocaleString(currencyService.getLocaleForCurrency(currencyService.currency | async), {
            style: "currency",
            currency: currencyService.currency | async,
            maximumFractionDigits: 0,
            minimumFractionDigits: 0
          })
        }}
      </b>
      out of
      {{
        goal?.amountReqd?.toLocaleString(currencyService.getLocaleForCurrency(currencyService.currency | async), {
          style: "currency",
          currency: currencyService.currency | async,
          maximumFractionDigits: 0,
          minimumFractionDigits: 0
        })
      }}
    </p>
  </ion-title>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <mat-slider [(ngModel)]="fuckOff" name="fuckOff" (ionChange)="changeFuck()" id ="fuckOff"></mat-slider>
    <ion-grid>
      <ion-row *ngFor="let ag of assetGroupsInScope" >
        <ion-col>
          <ion-card class="ion-no-padding">
            <ion-card-header class="ion-no-padding">
              <ion-card-title class="ion-padding-horizontal">
                <ion-item button [detail]="false" lines="none" class="ion-no-padding" (click)="toggleView(ag)"> 
                  {{ag}} 
                  <ion-text slot="end">
                    {{ assetGroupMap.get(ag)?.toLocaleString(
                      currencyService.getLocaleForCurrency(currencyService.currency | async),
                      {
                        style: "currency",
                        currency: currencyService.currency | async,
                        maximumFractionDigits: 0,
                        minimumFractionDigits: 0
                      }
                    ) }}
                    <ion-icon name="chevron-down-outline"></ion-icon>
                  </ion-text>
                </ion-item>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <div class="rangeDiv">
                  <ion-range
                  style="padding-left: 16px; padding-right: 16px;"
                  #sliderGroup
                  class="ion-no-padding"
                  [ngModel]="assetGroupCurrentValue(ag)"
                  #range="ngModel"
                  name="group-{{ ag }}"
                  min="0"
                  [max]="assetGroupMap.get(ag)"
                  pin
                  color="tertiary"
                  (ionChange)="onChangeGroupSlider(ag)"
                >
                </ion-range>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-grid *ngIf="assetToggleMap.get(ag)">
            <ion-row *ngFor="let asset of assetGroupIds.get(ag)" class="ion-no-padding">
              <ion-col class="ion-no-padding">
                <div class="flex-container">
                  <div class="flex-card">
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-text class="ion-no-padding" slot="start">{{ asset.assetTitle }} </ion-text>
                      <ion-text class="ion-no-padding" slot="end">
                        {{
                          allAssetvalueMap.get(asset.id)?.toLocaleString(
                            currencyService.getLocaleForCurrency(currencyService.currency | async),
                            {
                              style: "currency",
                              currency: currencyService.currency | async,
                              maximumFractionDigits: 0,
                              minimumFractionDigits: 0
                            }
                          )
                        }}
                      </ion-text>
                    </ion-item>
                    <div class="rangeDiv">
                      <div class="maxValue" class="sliderLimit" *ngIf="displayTick(asset)"
                      [style.left.%]="displayTickValue(asset)">
                      {{
                       (allAssetvalueMap.get(asset.id)  * asset.percentUnallocated + (assetContributionMap.has(asset.id) ? assetContributionMap.get(asset.id) : 0))?.toLocaleString(
                          currencyService.getLocaleForCurrency(currencyService.currency | async),
                          {
                            style: "currency",
                            currency: currencyService.currency | async,
                            maximumFractionDigits: 0,
                            minimumFractionDigits: 0
                          }
                        )
                      }}
                      </div>
                      <ion-range
                        #sliderAsset
                        class="ion-no-padding"
                        [ngModel]="assetContributionMap.has(asset.id) ? assetContributionMap.get(asset.id) : 0"
                        #range="ngModel"
                        name="value-{{ asset.id }}"
                        min="0"
                        [max]="allAssetvalueMap.get(asset.id)"
                        pin
                        tick
                        color="tertiary"
                        (ionChange)="onChangeSlider(asset, sliderAsset)"
                      >
                      </ion-range>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="bottomButton">
        <ion-col>
          <ion-button color="tertiary" expand="block" [disabled]="f.invalid" (click)="onSubmit()"
            >Add Contributions</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
