.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-card {
    flex: 1;
}

.sliderLimit {
    position: absolute;
    height: 30px;
    top: -10px;
    display: block;
    text-align: center;
    z-index: 1;
    text-indent: -15px;
    }
  
  .sliderLimit::after {
    content: "";
    display: block;
    background: #000;
    height: 20px;
    width: 1px;
    display: block;
    margin-left: -5px;
    }