<ion-header class="top-header ion-no-border">
  <ion-fab class="pointer" (click)="onClose()" horizontal="end" vertical="top">
    <ion-icon name="close" class="closeIcon"> </ion-icon>
  </ion-fab>
  <ion-title id="container" vertical="center">
    <p>
      Edit {{ goal.name }} <br /><br />
      <b>
        {{
          totalContributionAmount?.toLocaleString(currencyService.getLocaleForCurrency(currencyService.currency | async), {
            style: "currency",
            currency: currencyService.currency | async,
            maximumFractionDigits: 0,
            minimumFractionDigits: 0
          })
        }}
      </b>
      out of
      {{
        goal?.amountReqd?.toLocaleString(currencyService.getLocaleForCurrency(currencyService.currency | async), {
          style: "currency",
          currency: currencyService.currency | async,
          maximumFractionDigits: 0,
          minimumFractionDigits: 0
        })
      }}
    </p>
  </ion-title>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-grid>
      <ion-row class="ion-no-padding" *ngFor="let asset of assets">
        <ion-col class="ion-no-padding">
          <div class="flex-container">
            <div class="ion-padding">
              <ion-checkbox name="checkbox-{{ asset.id }}" [ngModel]="true" #checkbox="ngModel"></ion-checkbox>
            </div>
            <div class="flex-card">
              <ion-item lines="none" class="ion-no-padding">
                <ion-text class="ion-no-padding" slot="start">{{ asset.assetTitle }} </ion-text>
                <ion-text class="ion-no-padding" slot="end">
                  {{
                    assetValueMap.get(asset.id)?.toLocaleString(
                      currencyService.getLocaleForCurrency(currencyService.currency | async),
                      {
                        style: "currency",
                        currency: currencyService.currency | async,
                        maximumFractionDigits: 0,
                        minimumFractionDigits: 0
                      }
                    )
                  }}
                </ion-text>
              </ion-item>
              <div style="position: relative; width: 100%;">
                <ion-range
                  #sliderRange
                  class="ion-no-padding"
                  [ngModel]="assetContributionPercentage(asset.id)"
                  #range="ngModel"
                  name="percentage-{{ asset.id }}"
                  min="0"
                  [max]="assetValueMap.get(asset.id)"
                  pin
                  color="tertiary"
                  [disabled]="!checkbox.value"
                  (ionChange)="onChangeSliderValue(asset, sliderRange)"
                >
                </ion-range>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding" *ngFor="let asset of remainingAssets; let i = index">
        <ion-col class="ion-no-padding">
          <div class="flex-container dataSet">
            <div class="ion-padding">
              <ion-checkbox name="checkbox-{{ asset.id }}" [ngModel]="false" #checkbox="ngModel"></ion-checkbox>
            </div>

            <div class="flex-card">
              <ion-item lines="none" class="ion-no-padding">
                <ion-text class="ion-no-padding" slot="start">{{ asset.assetTitle }} </ion-text>
                <ion-text class="ion-no-padding" slot="end">
                  {{
                    remainingAssetValueMap.get(asset.id)?.toLocaleString(
                      currencyService.getLocaleForCurrency(currencyService.currency | async),
                      {
                        style: "currency",
                        currency: currencyService.currency | async,
                        maximumFractionDigits: 0,
                        minimumFractionDigits: 0
                      }
                    )
                  }}
                </ion-text>
              </ion-item>
              <div style="position: relative; width: 100%; margin-top: 20px;">
                <ion-range
                  #slider
                  class="ion-no-padding"
                  [ngModel]="0"
                  #range="ngModel"
                  name="percentage-{{ asset.id }}"
                  min="0"
                  [max]="remainingAssetValueMap.get(asset.id)"
                  pin
                  tick
                  color="tertiary"
                  [disabled]="!checkbox.value"
                  (ionChange)="onchangeInput(asset, i, slider)"
                >
                </ion-range>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="bottomButton">
        <ion-col>
          <ion-button color="tertiary" expand="block" [disabled]="f.invalid" (click)="onSubmit()"
            >Add Contributions</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
