.grapgBTN {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.39);
    text-align: center;
    background: #fff;
    border-radius: 28px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    display:flex;
    outline:none;
    button {
      border-radius:28px; 
      padding:12px 0px;
      color: black;
      background: #fff;
      width:calc(100% / 4);
      font-size:12px;
      font-weight: 500;
      flex: 1;
      &:hover,&.active{background:#4066EA;color:#fff;}
      &:focus{outline: none;}
    }

  }
.chartheight{   
  canvas{height: 400px !important; width: inherit !important;}
}

  @media (max-width:640px){
    .grapgBTN { width: 100%;}
    .chartheight{   
      canvas{height: 185px !important; width: inherit !important;}
    }
  }