.grapgBTN {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.39);
    text-align: center;
    background: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    width: 390px;
    margin: 0 auto;
    button {
      border-radius: 30px;
      padding: 10px;
      color: black;
      margin: 0 10px;
      background: #fff;
    }
  }