

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="grapgBTN ion-graph-btn">
        <button (click)="dataByFilter(constants.FILTER_OPTIONS.YEARLY)" class="active">1 year</button>
        <button (click)="dataByFilter(constants.FILTER_OPTIONS.SIX_MONTHS)">6 months </button>
        <button (click)="dataByFilter(constants.FILTER_OPTIONS.ONE_MONTH)">1 month</button>
        <button (click)="dataByFilter(constants.FILTER_OPTIONS.WEEKLY)">1 Week</button>
      </div>
    </ion-col>
    <ion-col size="12"></ion-col>
    <ion-col >
      <canvas id="myChart" [legend]="false" style="padding: 1.2em;" [legend]="false" #mychart></canvas>
    </ion-col>
</ion-row>
</ion-grid>