<ion-header class="top-header">
  <ion-buttons horizontal="start" vertical="top">
    <ion-menu-button class="white" menu="mainMenu"></ion-menu-button>
  </ion-buttons>
  <ion-fab class="pointer white" horizontal="end" vertical="top">
    <ion-icon name="notifications-outline" class="assetsIcon"> </ion-icon>
  </ion-fab>
  <ion-title id="container" vertical="center">
    <p class="assetsTitle"> Total Assests </p>
    <p class="assetsData"> {{totalAmount?.toLocaleString(currencyService.getLocaleForCurrency(
    currencyService.currency | async ), {style: 'currency', currency:
    currencyService.currency | async, maximumFractionDigits: 0,
    minimumFractionDigits: 0})}}</p>
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let assetGroup of assetGroups; let i = index">
      <ion-col size-md="6" offset-md="3">
        <app-asset [title]="assetGroup.assetType" [value]="assetGroup.amount" [assetType]="assetGroup.assetType"
          [itemLink]="'/home/tabs/assets/asset-detail/' + getSlug(assetGroup.assetType)"></app-asset>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>