<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3">
        <h3>Assets</h3>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col  class="ion-no-padding" size-md="6" offset-md="3">
        <h3>$405,000</h3>
        <p>as on 31/05/2020</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        
        <app-asset
          title="Savings Account"
          value=123000
          itemColor="primary"
          itemLink="/home/tabs/cashflows"
        ></app-asset>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <app-asset
          title="Deposits"
          value=50000
          itemColor="secondary"
          itemLink="/home/tabs/goals"
        ></app-asset>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <app-asset
          title="Mutual Funds"
          value=100000
          itemColor="tertiary"
          itemLink="/home/tabs/cashflows"
        ></app-asset>
      </ion-col>
    </ion-row >
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <app-asset
          title="Equity"
          value=10000
          itemColor="warning"
          itemLink="/home/tabs/cashflows"
        ></app-asset>
      </ion-col>
    </ion-row >
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <app-asset
          title="Cash"
          value=1000
          itemColor="danger"
          itemLink="/home/tabs/cashflows"
        ></app-asset>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-add-new></app-add-new>
</ion-content>
