<ion-header class="top-header">
  <ion-buttons horizontal="start" vertical="top">
    <ion-menu-button class="white" menu="mainMenu"></ion-menu-button>
  </ion-buttons>
 
    
  <ion-title  vertical="center">
    <div><button routerLink="/home/tabs/assets" ion-button><ion-icon name="arrow-back"></ion-icon></button></div>
    <p class="assetsTitle"> Select Category </p>
    <!-- <p class="title-select-cat"> Select Category </p> -->
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="right-container">
      <ion-grid class="grid-top-space">
        <ion-row>
          <ion-col>
              <div
                class="respisive-col-this"
                *ngFor="let assetType of assetTypeKeys; let i = index"
                (click)="addAsset(assetTypes[assetType])"
              >
                <div class="assetSet radius4">
                  <p><img src="../../../../assets/icon/{{constants.ICON_TYPES[assetTypes[assetType]]}}" /></p>
                  <p>
                    <span>{{assetTypes[assetType]}}</span>
                  </p>
                </div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-grid>
  <app-add-new style="display: none;" [addType]="addType" [assetType]="selectedAssetType" #addNewBtn></app-add-new>
</ion-content> 