
// .top-header {
//   // background-color: #4066ea;
//   height: 120px;
// }

// .top-header p {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
// }

// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 30%;
//   transform: translateY(-50%);
// }

.title-select-cat {
  color: aliceblue; 
  font-size: 1.3em;
  margin-bottom:10px;
}

.card {
  display: inline-block;
}
.hiddenCom {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  display: none;
}

.assetSet {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.39);
  text-align: center;
  padding: 10px;
  background: #fff;min-height: 128px;    display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
    img{ min-height: 40px; max-height:40px;}
 
  p {
    font-size: 14px;
    span {
      display: block;
      margin-top: 10px;
    }
  }
}
h3 {
  .amount {
    display: block;
    font-weight: normal;
    margin-top: 10px;
  }
}

.radius4 {
  border-radius: 4px;
}
.respisive-col-this {
  width: calc(100% / 5);
  padding: 10px;
  float: left;
  p {
    margin: 0;
    line-height: 24px;
    span {
      font-weight: 500;
      font-size: 1.1rem;
      margin: 0;
    }
  }
  img {
    margin-top: 5px;
  }
}

.top-header {
  background-color: #fff; height: 115px; display: flex; flex-direction: column; justify-content: center;
  left: 22%;
  width: calc(100% - 22%);
//  align-items: center;  p {text-align: center; position: absolute; left: 0; right: 0;  top: 50%;}
&::after{background-image: none; background: #dddddd; height: 1px;}
p{margin: 0;}
.assetsTitle{ color:#272727;   font-size:1.4rem; margin-bottom:10px;font-weight: 600;text-align: left;font-weight: 500;
    ion-buttons{margin-right: 1rem;margin-bottom: 1.5rem;}
}
button{margin-right: 1rem; margin-bottom:1rem; background:none;font-size: 1.3rem;padding: 0;}
.assetsData {  color: #272727;  font-size: 1.4rem;font-weight: 300;}
.assesstpageTitle{color:#CBCBCB;font-size: 1.2rem; margin-top:2rem;
// .button-ios {  border-radius: 4px;  font-size: 1rem;  color: #fff;  background-color: #4066EA;
//   padding:.7em;float:right;}
}
}

.right-container {
  padding-bottom: 0 !important;
}


.assetsIcon {font-size: 1.8em;}
.grid-top-space{margin-top:1.5rem;}


@media (max-width: 767px) {
  .right-container {
    padding-left: 0px;
  }
  .respisive-col-this {
    width: calc(100% / 2);
  }
 
   .top-header { background-color: #4066ea;left: 0;  width: 100%; color:#fff; height: 20vh;
    .assetsTitle{color:#fff; display: flex;font-weight: 500;
      ion-buttons{margin-right: 1rem;}
    }
    
    .assetsData{color:#fff;}
    .assesstpageTitle{display: none;}
    button{color:#fff;}
    }
   
  }

