<div class="webnav web-menu">
  <div class="navhead text-center">
    <h3>Singular</h3>
  </div>
  <div class="navdiv">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/home/tabs/assets"> <ion-icon name="card"></ion-icon> Assets </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/home/tabs/goals"> <ion-icon name="trophy"></ion-icon> Debt </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/home/tabs/goals"> <ion-icon name="trophy"></ion-icon> Insurance </a>
      </li> 
    </ul>
  </div>
</div>
<div class="topright"> 
  <button mat-flat-button [matMenuTriggerFor]="menuCurrency">
    <ion-icon name="arrow-down-outline"></ion-icon>
    {{currencyService.currency | async}}
  </button>
<mat-menu #menuCurrency="matMenu">
<button mat-menu-item (click)="setCurrency('INR')">INR</button>
<button mat-menu-item (click)="setCurrency('SGD')">SGD</button>
<button mat-menu-item (click)="setCurrency('USD')">USD</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="menuUser">{{user?.displayName}}</button>
<mat-menu #menuUser="matMenu">
<button mat-menu-item (click)="onLogout()">Logout</button>
<button mat-menu-item (click)="exportAssets()">Download Excel</button>
</mat-menu>
</div>
<app-export-assets></app-export-assets>

<ion-tabs>
  <!-- <app-add-new [addType]="stateService.addType | async" [assetType]="stateService.assetType | async"></app-add-new> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab='dashboard'>
      <ion-icon color="tertiary" name="home"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assets">
      <ion-icon color="tertiary" name="card-outline"></ion-icon>
      <ion-label color="dark">Assets</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="goals">
      <ion-icon color="tertiary" name="trophy"></ion-icon>
      <ion-label color="dark">Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon color="tertiary" name="person"></ion-icon>
      <ion-label color="dark">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>