<ion-tabs>
  <app-add-new [addType]="stateService.addType | async" [assetType]="stateService.assetType | async"></app-add-new>

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab='dashboard'>
      <ion-icon color="tertiary" name="home"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assets">
      <ion-icon color="tertiary" name="card-outline"></ion-icon>
      <ion-label color="dark">Assets</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="goals">
      <ion-icon color="tertiary" name="trophy"></ion-icon>
      <ion-label color="dark">Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon color="tertiary" name="person"></ion-icon>
      <ion-label color="dark">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>